doctype
html
	head
		link(rel="stylesheet", type="text/css", href="/stylesheets/lib/normalize.css")
		link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700")
		link(rel="stylesheet", type="text/css", href="/stylesheets/lib/fonts.css")
		link(rel="stylesheet", type="text/css", href="/stylesheets/lib/nanoscroller.css")
		link(rel="stylesheet", type="text/css", href="/stylesheets/style.css")
		title= title
	body
		#header
			#logo
				img(src="/images/logo.png", alt="Dobly")
			.top-links.hidden
				a(data-bind="click: navigation.desktop, visible: navigation.showBack()") Back to Conversations
				a(data-bind="click: navigation.all, visible: navigation.showingDesktop") All Conversations
				span(data-bind="visible: navigation.showingDesktop() || navigation.showBack()") |
				a(data-bind="click: navigation.group, visible: !navigation.showingGroup()") Group
				span(data-bind="visible: !navigation.showingGroup()") |
				a(href="/logout") Logout

		#main-timer
			img(src="/images/spinner.gif", alt="loading...")

		#content.hidden
			#content-timer(data-bind="visible: desktop.loading")
				img(src="/images/spinner.gif", alt="loading...")
				
			#strip-convos
				#strip(data-bind="with: desktop, visible: navigation.showingDesktop")					
					.nano#convo-tiles
						.content(data-bind="foreach: conversations")
							.tile(data-bind="css: { highlight: active }, click: $parent.activate")
								.highlight-placeholder
									.tile-text(data-bind="text:topic")
									.tile-icons
										.icon-move-handle(data-bind="click: function(){}, clickBubble: false")
										.icon-dismiss(data-bind="click: $parent.remove")
										.tile-counter(data-bind="visible: showUnreadCounter, text: unreadCounter")
					#new-message-bar(data-bind="css: { active: $root.hasUnread }")
					#new-convo-tile(data-bind="click: $parent.addNewConversation")				
						.icon-plus
						#new-convo-text New Conversation
				#convos(data-bind="visible: navigation.showingDesktop, foreach: desktop.renderedConversations")
					.convo(data-bind="visible: active, css : { 'convo-left': isLeft, 'convo-right': isRight } ")
						.convo-header(data-bind="click: markAsRead")
							.topic
								span(data-bind="text: topic")
								span.icon-pencil(alt="change topic", data-bind="click: $root.changeTopic.click")
							.created-by 
								span by 
								span(data-bind="text: createdBy")
						.nano.convo-body(data-bind="click: markAsRead")
							.content(data-bind="event: { scroll: scrolled }")
								.load-more(data-bind="visible: loadingMore")
									img(src="/images/spinner.gif", alt="loading...")
								.messages(data-bind="foreach: messages")
									.message
										.author(data-bind="text: createdBy")
										.time
											span(data-bind="text: timestamp, visible: confirmedSent")
											img.pending-timer(src="/images/spinner.gif", alt="waiting for confirmation...", data-bind="visible: !confirmedSent()")
										.text(data-bind="html: content")
						.convo-new-message(data-bind="click: markAsRead")
							textarea(tabindex="2", placeholder="Write a new message", rows="2", maxlength=2000, data-bind="value: newMessage, valueUpdate: 'input', event: { keypress: sendMessage }, hasfocus: hasFocus")
			#all-convos(data-bind="visible: navigation.showingAll, foreach: allConversations.sortedConversations")
				.convo
					.header
						.icons
							span.icon-expand(data-bind="click: $root.allConversations.toggleMessages")
							span.icon-collapse.hidden(data-bind="click: $root.allConversations.toggleMessages")
						.info
							.topic
								span(data-bind="text: topic, click: $root.allConversations.open")
							.created-by
								span(data-bind="text: createdBy")
								span |
								span(data-bind="text: timestamp")
						.counter-container
							.counter(data-bind="visible: unreadCounter() > 0, text: unreadCounter")

					.messages.hidden(data-bind="foreach: lastMessages")
						.message
							.author(data-bind="text: createdBy")
							.time(data-bind="text: simpleTimestamp")
							.text(data-bind="html: content")
					.no-messages.hidden
						.message There aren't any messages in this conversation.				
					

			#new-convo.text-input-dialog(data-bind="with: newConversation, visible: navigation.showingNewConvo")
				div
					textarea(placeholder="Write a topic or question", maxlength=500, data-bind="value: topic, valueUpdate: 'input', event: { keypress: createOnEnter }")
				.buttons				
					button.button-left(type="button", data-bind="click: cancel") Cancel
					button.button-right(type="button", data-bind="click: createOnClick") Create

			#change-topic.text-input-dialog(data-bind="with: changeTopic, visible: navigation.changingTopic")
				p 
					span Set a new topic for this conversation
				div
					textarea(placeholder="Write a topic or question", maxlength=500, data-bind="value: newTopic, valueUpdate: 'input', event: { keypress: updateOnEnter }")
				.buttons				
					button.button-left(type="button", data-bind="click: cancel") Cancel
					button.button-right(type="button", data-bind="click: updateOnClick") Save

			#notification-setup(data-bind="visible: navigation.showingNotificationSetup")
				p 
					span For a better experience, please allow 
					span= title
					span  to request permissions to show rich notifications

				.buttons
					button.button-left(type="button", data-bind="click: cancelNotificationsSetup") Don't Allow
					button.button-right(type="button", data-bind="click: allowNotificationsSetup") Allow

			#group-info(data-bind="with: group, visible: navigation.showingGroup")
				h2(data-bind="text: name")

				table.users(data-bind="foreach: users")
					tr
						td.name(data-bind="text: username")
						td.status
							span.online(data-bind="visible: online") online
							span.offline(data-bind="visible: !online()") offline
					

audio#notification-sound
	source(src="audio/bell.mp3", type="audio/mpeg")
	source(src="audio/bell.ogg", type="audio/ogg")

input#conversations(type="hidden", value=conversations)
input#desktop(type="hidden", value=desktop)
input#currentUser(type="hidden", value=currentUser)
input#group(type="hidden", value=group)

script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js")
script(type="text/javascript", src="/scripts/lib/jquery.nanoscroller.min.js")
script(type="text/javascript", src="/scripts/lib/jquery.hoverIntent.min.js")
script(type="text/javascript", src="/scripts/lib/jquery.placeholder.min.js")
script(type="text/javascript", src="http://ajax.aspnetcdn.com/ajax/knockout/knockout-2.2.0.js")
script(type="text/javascript", src="http://modernizr.com/downloads/modernizr-latest.js")
script(type="text/javascript", src="/scripts/lib/date.js")
script(type="text/javascript", src="/socket.io/socket.io.js")
script(type="text/javascript", src="/scripts/client/common.js")
script(type="text/javascript", src="/scripts/client/group.js")
script(type="text/javascript", src="/scripts/client/message.js")
script(type="text/javascript", src="/scripts/client/notifications.js")
script(type="text/javascript", src="/scripts/client/conversation.ui.js")
script(type="text/javascript", src="/scripts/client/conversation.js")
script(type="text/javascript", src="/scripts/client/desktop.ui.js")
script(type="text/javascript", src="/scripts/client/desktop.js")
script(type="text/javascript", src="/scripts/client/allConversations.js")
script(type="text/javascript", src="/scripts/client/newConversation.js")
script(type="text/javascript", src="/scripts/client/changeTopic.js")
script(type="text/javascript", src="/scripts/client/navigation.js")
script(type="text/javascript", src="/scripts/client/viewModel.js")
script(type="text/javascript", src="/scripts/client/timeout.js")
script(type="text/javascript", src="/scripts/client/active.js")